.container {
    height: 100%;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.user {
    position: relative;
    height: 100%;
}

.user__menu {
    margin: 0;
    padding: 0;
    display: none;
    width: 193px;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 95%;
    right: 0;
    box-shadow: 0 0 1px #888;
    background: var(--white);
}

.user:hover .user__menu {
    display: flex;
}

.user__menuItem {
    display: flex;
    height: 40px;
    width: 100%;
    white-space: nowrap;

    &:hover {
        background-color: #e2e2e2;
    }

    &:first-child {
        position: relative;

        &:before {
            content: "";
            display: block;
            position: absolute;
            right: 9px;
            width: 0;
            height: 0;
            border-style: solid;
            top: -11px;
            border-color: transparent transparent #888;
            border-width: 5px;
            opacity: 0.5;
        }

        &:after {
            content: "";
            display: block;
            position: absolute;
            right: 9px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px;
            border-color: transparent transparent #fff;
            top: -10px;
            border-width: 5px;
        }
    }
}

.user__menuBtn {
    display: flex;
    align-items: center;
    padding: 0 0 0 14px;
    width: 100%;
    height: 100%;
    border: unset;
    background: transparent;
    outline: unset;
    text-decoration: unset;
    cursor: pointer;
}
