.heading {
    margin: 0;
    letter-spacing: -0.02em;
    color: var(--black);
    font-weight: 400;
}

.heading1 {
    @extend .heading;
    font-size: 17px;
    line-height: 22px;
}

.heading2 {
    @extend .heading;
    font-size: 14px;
    line-height: 18px;
}

.paragraphBase {
    margin: 0;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.02em;
}

.paragraphOne {
    @extend .paragraphBase;
    color: var(--gray);
}

.textOneMedium {
    @extend .paragraphBase;
    font-weight: 600;
    color: var(--black);
}

.textTwoMedium {
    @extend .paragraphBase;
    font-weight: 600;
    color: var(--black);
    font-size: 15px;
}

.textSecond {
    @extend .paragraphBase;
    font-size: 15px;
    color: var(--black);
}

.textThird {
    @extend .paragraphBase;
    font-size: 12px;
    color: var(--gray);
}
