.label {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
    width: 100%;
}

.label__wide {
    width: 100%;
}

.input__common {
    width: 386px;
    border: 1px solid #e1e3e0;
    border-radius: 8px;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: -0.02em;
    color: #383838;
    padding: 12px 12px 13px 12px;
    outline: unset;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all 0.25s ease;

    &::placeholder {
        font-weight: 400;
        font-size: 15px;
        line-height: 19px;
        letter-spacing: -0.02em;

        color: rgba(30, 29, 29, 0.3);
    }

    &:focus {
        border: 1px solid #cccccc;
    }
}

.socialInputContainer {
    position: relative;
}

.icon {
    position: absolute;
    left: 8px;
    bottom: 8px;
    z-index: 1;
    width: 28px;
    height: 28px;
}

.input__common_invalid {
    border: 1px solid #ee4a3c;

    &:focus {
        border: 1px solid #ee4a3c;
    }
}

.input__common_wide {
    width: 100%;
}

.input__common_small {
    width: 255px;
}

.input {
    @extend .input__common;
    max-height: 44px;
}

.textarea {
    @extend .input__common;
    min-height: 71px;
    resize: none;
    text-overflow: unset;
    white-space: pre-wrap;
}

.wrapper {
    position: relative;
}

.wrapper__wide {
    width: 100%;
}

.baseError {
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #ee4a3c;
}

.error__absolute {
    @extend .baseError;
    position: absolute;
    bottom: -21px;
    left: 0;
}

.error__static {
    @extend .baseError;
    margin: 5px 0 0;
}
